<div id="<%= dom_id room_message %>">
  <p>
    <strong>Room:</strong>
    <%= room_message.room_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= room_message.user_id %>
  </p>

  <p>
    <strong>Message:</strong>
    <%= room_message.message %>
  </p>

</div>
