<h1>Editing room message</h1>

<%= render "form", room_message: @room_message %>

<br>

<div>
  <%= link_to "Show this room message", @room_message %> |
  <%= link_to "Back to room messages", room_messages_path %>
</div>
